
.orderHistoryInfoContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
}

.orderHistoryInfoBody {
    position: absolute;
    width: 60%;
    max-height: 55%;
    background: rgb(0, 0, 0);
    border: 1px solid #ffffffc8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1001;
}

.paragrphBody {
    width: 100%;
}

.orderNumberWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ffffffc8;
    margin-bottom: 20px;

}

.paragraph{
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.orderNumber {
    color: white;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fieldNumber {
    color: rgb(208, 70, 70);
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;

}

.historyBodyInfoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.historyBodyInfoWrapper {
    display: flex;
    align-items: center;
    width: 90%;
    padding-bottom: 10px;
    border-bottom: 1px solid #f8ff7a;
}
.historyBodyInfoWrapper span {
    width: 100%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
}
.historyBodyInfoWrapper span:nth-child(2) {
    color: rgb(255, 131, 131);
}
.historyBodyInfoWrapper span:nth-child(3) {
    color: rgb(123, 154, 255);
}
.historyBodyInfoWrapper span:nth-child(4) {
    color: rgb(255, 208, 127);
}


.ordersWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.historyBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: 90%;
    border: 1px solid #ffffffc8;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.orderImageWrapper {
    width: 60px;
}
.orderImage {
    max-width: 100%;
}

.orderName {
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.orderSize {
    color: rgb(123, 154, 255);
}

.orderQuantity {
    color: rgb(255, 208, 127);
}

.orderPrice{
    color: rgb(255, 255, 255);
    margin-right: 20px;
}

@media(max-width: 967px) {
    .orderHistoryInfoBody {
        width: 80%;
    }
    .paragraph{
        font-size: 14px;
        letter-spacing: 2px;
    }
    .fieldNumber{
        font-size: 18px;
    }
    .orderImageWrapper {
        width: 50px;
    }

    .historyBodyInfoWrapper span {
        font-size: 13px;
    }

    .orderName {
       font-size: 13px;  
    }
    .orderSize{
        font-size: 13px;
    }
    .orderQuantity{
        font-size: 13px;
    }
    .orderPrice{
        font-size: 13px;
    }
    
} 

@media(max-width: 539px) {
    .orderHistoryInfoBody {
        width: 85%;
    }
    .paragraph{
        font-size: 13px;
        letter-spacing: 2px;
    }
    .fieldNumber{
        font-size: 17px;
    }
    .orderImageWrapper {
        width: 40px;
    }

    .historyBodyInfoWrapper span {
        font-size: 12px;
    }

    .orderName {
       font-size: 12px;  
    }
    .orderSize{
        font-size: 13px;
    }
    .orderQuantity{
        font-size: 12px;
    }
    .orderPrice{
        font-size: 12px;
    }
    
}

@media(max-width: 383px) {
    .historyBody{
        min-height: 60px;
    }
    .paragraph{
        font-size: 12px;
    }
    .fieldNumber{
        font-size: 14px;
    }
    .orderImageWrapper {
        width: 30px;
    }

    .historyBodyInfoWrapper span {
        font-size: 10px;
    }

    .orderName {
       font-size: 10px; 
       margin-left: 10px; 
    }
    .orderSize{
        font-size: 10px;
    }
    .orderQuantity{
        font-size: 10px;
    }
    .orderPrice{
        font-size: 10px;
        margin-right: 10px;
    }
    
}











