.aboutUsContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    height: 100%;
    background: url('../../Assets/Images/background5.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUsBodyWrapper {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paragraphBody {
    min-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10%;
}

.infoTextBody {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.textWrapper {
    width: 90%;
}

.text1 {
    color: aliceblue;
    font-size: 1.3em;
    line-height: 1.4em;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 20px;
}

.text2 {
    color: aliceblue;
    font-size: 1.3em;
    line-height: 1.4em;
    letter-spacing: 1px;
    text-align: justify;
}


.discount {
    font-size: 20px;
    color: yellowgreen;
    font-weight: bold;
    font-size: 22px;
}

.link {
    text-decoration: none;
    color: #03bcf4;
    font-size: 1.1em;
}


.animeTextWrapper {
    width: 90%;
}

@media(max-width: 1024px) {
    .text1 {
        font-size: 1.1em;
        letter-spacing: 1px;
    }
    .text2 {
        font-size: 1.1em;
        letter-spacing: 1px;
    }

    .discount {
        font-size: 20px;
    }

    .link {
        font-size: 1.2em;
    }
}

@media(max-width: 967px) {


    .paragraphBody {
        min-width: 90%;
        height: 20%;
    }

    .infoTextBody {
        width: 90%;
    }
}

@media(max-width: 575px) {

    .paragraphBody {
        min-width: 100%;
    }

    .infoTextBody {
        width: 100%;
    }

    .logo {
        width: 70px;
        height: 70px;
    }
}

@media(max-width: 489px) {

    .text1 {
        font-size: 0.9em;
    }
    .text2 {
        font-size: 0.9em;
    }

    .discount {
        font-size: 16px;
    }

    .link {
        font-size: 1.1em;
    }

    .logo {
        width: 50px;
        height: 50px;
    }
}

@media(max-width: 359px) {

    .text1 {
        font-size: 0.8em;
    }
    .text2 {
        font-size: 0.8em;
    }

    .discount {
        font-size: 14px;
    }

    .link {
        font-size: 1em;
    }

    .logo {
        width: 40px;
        height: 40px;
    }
}