.modalContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 1000;
}

.body {
    width: 60%;
    max-width: 800px;
    min-width: 250px;
    height: 20%;
    background: rgba(0, 0, 0, 0.464);
    box-shadow: 0 0 5px white;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.titleWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}

.buttonWrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-size: 20px;
    min-width: 80px;
    min-height: 50px;
    background-color: rgb(14, 102, 0);
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 7px;
    padding: 1em 2em;
    cursor: pointer;

}

@media screen and (max-width:967px) {
    .title {
        font-size: 20px;
    }

    .button {
        padding: 0.5em 1em;
        font-size: 16px;

    }
}

@media screen and (max-width:719px) {
    .title {
        font-size: 16px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

}

@media screen and (max-width:500px) {
    .title {
        font-size: 14px;
    }

    .button {
        padding: 0.5em 1.5em;
        font-size: 14px;
    }

    .body {
        width: 80%;
        height: 25%;
    }

}