.footerContainer{
	width: 100%;
    height: 11vh;
    box-shadow: 0 0 3px #000000;
    background-image: url('../../Assets/Images/blackKarbon.webp');
    background-size: 100%;
    background-repeat: no-repeat;
	display: flex;
    flex-direction: column;
	justify-content:space-between;	
    align-items: center;
}

.socialWebIconWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:575px) {

    .footerContainer{
        height: 9vh;
    }
}







