.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bodyWrapper {
    position: relative;
    display: flex;
    width: 70%;
    max-height: 70%;
    flex-direction: column;
    align-self: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    border: 1px solid #b3c000;
    margin-top: 10%;
}

.bodyWrapperEmpty {
    position: relative;
    display: flex;
    width: 60%;
    min-height: 50%;
    flex-direction: column;
    align-self: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    border: 1px solid #b3c000;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cartWrapper {
    background: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
}

.cart {
    color:  rgb(39, 39, 38);
    font-size: 2rem;  
    margin-right: 10px; 
    margin: 5px;
}

.paragraph {
    color:rgb(240, 156, 0);
    text-shadow: 2px 1px 1px  rgb(39, 39, 38);
    font-size: 1.3rem;
    letter-spacing: 2px;
    
}

.button {
    width: 15%;
    min-width: 150px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color:#f6ff7e;
    text-align: center;
    border-radius: 5px;
    background: rgba(43, 101, 43, 0.674);
    border: 1px solid #f6ff7e;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom:20px;
    
}

.totalPriceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.totalPriceWrapper {
    display: flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.productType {
    font-size: 15px;
    color: white;
    margin-bottom: 5px;
}
.type {
    font-size: 18px;
    margin-left: 7px;
    color: rgb(255, 238, 0);
}

.totalQuantity {
    font-size: 15px;
    color: white;
}
.quantity {
    font-size: 18px;
    margin-left: 7px;
    color: rgb(255, 238, 0);
}
.currency {
    font-size: 14px;
    color: rgb(255, 238, 0);
    
}
.totalPrice {
    font-size: 18px;
    color: white;
}

.removeButtonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}
.removeAllOrder {
    justify-items: center;
    border: 1px solid #b3c000;
    background-color: rgb(142, 36, 36);
    border-radius: 5px;
    color:white;
    font-size: 14px;
    letter-spacing: 1px;
    width: 30%;
    min-width:200px;
    padding: 7px 7px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    
}

.textInfo {
    margin:auto auto;
    text-align: center;
    font-size: 22px;
    color: white;
    text-shadow: 1px 1px 1px orange;
    letter-spacing: 1px;
}


@media(max-width: 959px) {
    .bodyWrapper {
        width: 90%;
    }

    .bodyWrapperEmpty {
        width: 80%;
    }
    
    .cart {
        font-size: 1.5rem;  
    }
    
    .paragraph {
        font-size: 1.1rem;
    }
    .textInfo {
        font-size: 18px;
    }
}


@media(max-width: 479px) {

    .cart {
        font-size: 1.3rem;  
    }
    
    .paragraph {
        font-size: 1rem;
    }
    .removeAllOrder {
        font-size: 10px;
        min-width:150px;

        
    }
    .button {
        min-width: 130px;
        height: 50px;
        font-size: 12px;
    }

    .productType {
        font-size: 13px;
    }
    .type {
        font-size: 15px;
    }
    .totalQuantity {
        font-size: 13px;
        margin-bottom:5px;
    }
    .quantity {
        font-size: 15px;
    }
    .currency {
        font-size: 12px;
        
    }
    .totalPrice {
        font-size: 15px;
    }
      .textInfo {
        font-size: 15px;
    }
}